.flyout {
  background-color: aliceblue;
  transition: all 50ms ease-out;
  height: 100vh;
  position: relative;
}

.flyout__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
}

.flyout__control-button {
  position: absolute;
  font-size: 1.5rem;
  transition: all 50ms ease-out;
  width: 1rem;
  height: 100vh;
  cursor: pointer;
}

.flyout__gradient-string-wrapper {
  margin-top: 1rem;
}

.flyout__add-color,
.flyout__colors-list,
.flyout__options {
  display: grid;
  gap: 1rem;
}

.flyout__colors-list {
  overflow-y: auto;
}
