.flyout {
  background-color: aliceblue;
  transition: all 0.3s ease-out;
  width: 20rem;
  height: 100vh;
  position: relative;
}

.flyout--closed .flyout__content {
  overflow: hidden;
}

.flyout--open {
  width: 70%;
  overflow: visible;
}

.flyout--closed {
  width: 0;
}

.flyout__control-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
}

.flyout__control-button--open {
  right: -2.4rem;
}

.flyout__control-button--closed {
  right: -4.3rem;
}