.flyout {
  background-color: aliceblue;
  transition: all 0.3s ease-out;
  height: 100vh;
  position: relative;
}

.flyout--closed .flyout__content {
  overflow: hidden;
}

.flyout__control-button {
  position: absolute;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
  width: 1rem;
  height: 100vh;
  cursor: pointer;
}

.flyout__control-button--open {
  right: -2.4rem;
}

.flyout__control-button--closed {
  right: -4.3rem;
}